<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>emrecritic</title>
 
<link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="text-center mb-4">
        <div class="d-flex justify-content-center align-items-center">
            <h1 class="sitetitle">
                <img class="siteimg logo mx-2" src="/assets/icons/logo.png" alt="emrecritic logo">
                emrecritic
            </h1>
        </div>
    </div>
    
</body>
</html>